body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

#board {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.tile {
  background: #4caf50;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.empty {
  background: #ccc;
  cursor: default;
}
